*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   background-color: #0B0C12 !important;
   
}

.nav1{
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.logo{
    max-width: 70px;
    margin-left: 15px;
}

.imgSocial{
    max-height: 30px;
    margin: 20px;
}

.nav1Replic{
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.logoReplic{
    max-width: 70px;
    margin-left: 15px;
}

.imgSocialReplic{
    max-height: 30px;
    margin: 20px;
}


.nav2{
    background-color: #0B0C12;
    padding: 30px;
    color: #F9C200 ;
    
    
}  

.nav2Option{
    color: #F9C200;
    padding: 10px;
    font-size: 18px;
}

.ul{
    display: flex;
    justify-content: center;
}

.liNav2{
    margin: 0px 20px;
}

.header{
    max-width: 1400px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.visitUs{
    height: 200px;
    max-width: 1400px;
    background-color: #F9C200;
    text-align: center;
    font-size: 85px;
    padding: 20px;
 
}

.main{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.presentation{
  
    width: 700px;
}

.buttom{
   
    padding-top: 50px;
}
.butto{
    margin: auto;
    width:200px;
    display: block;
    font-weight: bold;
    color: #0B0C12;
    text-decoration: none;
    margin-top: 30px;
    text-align: center;
    padding: 21px 12px;
    border: solid 1px #F9C200;
    background-color: #F9C200;
    border-radius: 7px;
    font-family: 23px 'Bree Serif', serif;    
}
.presentationText{
    font-size: 24px;
    text-align: center;
    margin: 30px;
    color: white;
}
.imgPresentationContainer{
    
    width: 700px;

}

.imgPresentation{
    max-width: 100%;
    padding: 30px;
    border-radius: 20px;
}


.footer{
    background-color: #0B0C12;
    min-height: 250px;
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
}

.divLogoFooter{
    color: #ffffff;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.logoFooter{
    max-width: 60px;
}

.socialFooter{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.divDesarrolladoPor{
    text-align: center;
    padding-top: 50px;
    color: #ffffff;

   
}

